{% load static %}
<!DOCTYPE html>
<html lang="fr">
    <head>
        <title>Connexion</title>
        <meta charset="utf-8">
        <link href="{% static 'css/global.css' %}" rel="stylesheet" />
        <link href="{% static 'css/connect.css' %}" rel="stylesheet" />
    </head>
    <body>
        <form action="./home" class="content">
            <label for="login">
                <input id="login" type="text" placeholder="Identifiant" required/>
            </label>
            <label for="password">
                <input id="password" type="password" placeholder="Mot de passe" required/>
            </label>
            <button type="submit" value="Submit">Connexion</button>
        </form>
        <a href="./register/">Créer un compte</a>
    </body>
</html>