{% load static %}
<!DOCTYPE html>
<html lang="fr">
    <head>
        <title>Inscription</title>
        <meta charset="utf-8">
        <link href="{% static 'css/global.css' %}" rel="stylesheet" />
        <link href="{% static 'css/connect.css' %}" rel="stylesheet" />
    </head>
    <body>
        <form class="content">
            <label for="firstname">
                <input id="firstname" type="text" placeholder="Nom"/>
            </label>
            <label for="lastname">
                <input id="lastname" type="text" placeholder="Prénom"/>
            </label>
            <label for="mail">
                <input id="mail" type="text" placeholder="Mail"/>
            </label>
            <label for="phone">
                <input id="phone" type="tel" placeholder="Téléphone"/>
            </label>
            <label for="password">
                <input id="password" type="password" placeholder="Mot de passe"/>
            </label>
            <label for="confirmPassword">
                <input id="confirmPassword" type="password" placeholder="Confirmation mot de passe"/>
            </label>
            <button>S'inscrire</button>
        </form>
        <span>Déjà un compte ? <a href="../">Se Connecter</a></span>
    </body>
</html>