
body {
    margin: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 25px;

    height: 70px;
    background-color: #30363d;
}
header > span {
    color: white;
    font-weight: bold;
}
header > ul {
    display: flex;
    gap: 20px;
}
header > ul > li {
    list-style: none;
    color: white;
}
header > ul > li > a {
    list-style: none;
    color: white;
    text-decoration: none;
}
header > ul > li > a:hover {
    cursor: pointer;
    color: #a1deff;
    text-decoration: underline;
}
header > ul > li > a:active {
    cursor: pointer;
    color: white;
    text-decoration: none;
}

content {
    display: flex;
    flex-direction: column;
    gap: 20px;

    padding: 20px;
}

.reservation {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;

    padding: 10px;
    box-shadow: 0 0 1px #30363d;

    border-radius: 10px;
}
.reservation > div {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
}

button {
    min-width: 100px;
    height: 35px;
}