{% extends 'homeBase.html' %}

{% block content %}
    <content>
        <div class="reservation">
            <div>
                <div>
                    <span>Réservation 1</span>
                    <span>DATE</span>
                </div>
                <span>Voici le premiere évenement !</span>
            </div>
            <button>Détails</button>
        </div>
        <div class="reservation">
            <div>
                <div>
                    <span>Réservation 1</span>
                    <span>DATE</span>
                </div>
                <span>Voici le premiere évenement !</span>
            </div>
            <button>Détails</button>
        </div>
    </content>
{% endblock %}